[
  {
    "label": "Example",
    "description": "Example Site",
    "url": "https://example.com",
    "categories": [
      {
        "label": "Info"
      }
    ]
  },
  {
    "label": "Test",
    "description": "Example Site",
    "url": "https://example.com",
    "categories": [
      {
        "label": "Shopping"
      }
    ]
  },
  {
    "label": "Test and Example",
    "description": "Example Site",
    "url": "https://example.com",
    "categories": [
      {
        "label": "Info"
      },
      {
        "label": "News"
      }
    ]
  }
]